<form action="/microposts" class="new_micropost" id="new_micropost" method="post">
  <div style="margin:0;padding:0;display:inline">
  <div class="field">
    <textarea cols="40" id="micropost_content" name="micropost[content]" placeholder="Compose new micropost..." rows="20"></textarea>
  </div>
  <input class="btn btn-large btn-primary" name="commit" type="submit" value="Post">
</form>
